body {
  font-family: "Quicksand"; sans-serif;
}

td {
  text-align: center;
  border: 1px solid black;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

img {
    width: 200px
}